@import "../../../scss/variables";

.bold {
  font-weight: bold;
}

.hide {
  display: none;
}

.product-page {
  .product-page-content {
    margin: 0px 40px;
  }

  .product-info {
    align-items: flex-start;
    color: black;
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;

    .image-section {
      width: 50%;
      display: flex;
      justify-content: center;

      .product-image {
        max-height: 500px;
        max-width: 100%;
      }
    }

    .info-section {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 50%;

      .product-attribute {
        font-size: 2.5rem;
        margin: 0;
      }

      .product-brand {
        font-size: 1.5rem;
        color: black;

        &:hover {
          text-decoration: none;
          color: $green;
        }
      }

      .section-heading {
        margin-top: 30px;
        font-size: 1.3rem;
      }

      .product-tag {
        font-size: 0.9rem;
        + .product-tag::before {
          content: ", ";
        }

        .product-tag-link {
          color: black;
          border-bottom-color: black;
          border-bottom-style: dotted;
          border-bottom-width: 1px;
          text-decoration: none;

          &:hover {
            background-color: $light-green;
          }
        }
      }

      .related-products-section {
        align-self: center;
      }

      .product-pattern {
        margin: 0;
      }

      .swatch-carousel {
        display: flex;
        justify-content: center;

        .swatch-carousel-button {
          display: flex;
          align-items: center;
          // padding: 5px;
        }

        .fas {
          font-size: 40px;
        }
      }

      .swatches {
        align-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        max-height: 256px;
        margin: 16px;
        padding: 0;
        width: 384px;

        &.center {
          justify-content: center;
        }

        li {
          list-style: none;
        }

        .swatch {
          border: 2px solid transparent;
          font-size: 1rem;
          font-weight: bold;
          height: 64px;
          padding: 5px;
          text-decoration: underline;
          width: 64px;

          &.selected {
            border: 2px solid darkslategrey;
          }

          .swatch-image {
            background-position: 50% 50%;
            background-size: 300%;
            height: 50px;
            position: relative;
            width: 50px;

            &.unavailable {
              filter: grayscale(100) opacity(20%);
            }
          }
        }

        .see-more {
          font-weight: bold;
        }
      }

      .product-details {
        margin-top: 20px;
        text-align: center;

        &-header {
          display: flex;
          justify-content: center;
          font-size: large;
        }

        &-title {
          width: 35%;
          border-bottom: 2px $blue solid;
          cursor: pointer;

          &:hover {
            border-bottom-color: $green;
          }
        }

        &-body {
          padding: 5px;
        }

        .sizing-body {
          display: flex;
          justify-content: center;
          padding: 5px;
        }

        .materials-body {
          display: flex;
          justify-content: center;
          text-align: left;

          ul {
            margin: 0px;
            padding-left: 10px;
          }
        }
      }
    }
  }

  .cousin-products-section {
    text-align: center;

    ul {
      padding: 0px;
    }

    .cousin-products {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      li {
        list-style: none;
      }

      .cousin-product-image {
        max-width: 100px;
      }
    }
  }

  .listings-section {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .listings-header {
    margin-bottom: 10px;
    padding: 0 5px;
  }

  .notification {
    padding: 5px;
  }

  .listings {
    margin: 0;
    padding: 0;
    font-family: "Maven Pro";

    .listing-link,
    .listing-header {
      color: black;
      display: flex;
      border: solid transparent 1px;
      width: fit-content;

      &:hover {
        text-decoration: none;
        border-color: #e6e6e6;
        border-radius: 4px;
      }

      .listing-prop {
        padding: 5px;
      }

      .listing-title {
        width: 300px;
      }

      .listing-price {
        width: 100px;
      }
      .listing-quantity {
        width: 60px;
      }
      .listing-price-count {
        width: 160px;
      }
    }

    .retailer-icon {
      height: 20px;
      width: 20px;
      margin-right: 8px;
    }

    .shipping-policy {
      p {
        margin: 0;
      }
    }
  }
  .exchange-rate-note {
    font-size: smaller;
    margin-top: 20px;
    width: 40%;
  }
}
