// Custom bootstrap overrides
@import "./styles/_colors.scss";
@import "./styles/_fonts.scss";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
  background-color: $light;
}

section.page {
  background-color: white;
  padding: 20px;
}

footer {
  border-top: solid $dark-blue;
  
  .credits {
    a {
      font-size: 0.5rem;
      display: block;
    }
  }
}
