@import "../scss/styles.scss";

section.page {
  background-color: white;
  padding: 20px;
}

footer {
  border-top: solid $dark-blue;
  
  .credits {
    a {
      font-size: 0.5rem;
      display: block;
    }
  }
}
