@import "../../../scss/styles.scss";

.site-navbar {
  align-items: center;
  background-color: $light;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;

  .navbar-brand {
    align-items: center;
    color: $dark-blue !important;
    display: flex;
    text-decoration: none;
    margin: 0px 8px;

    .navbar-brand-image {
      max-height: 40px;
      margin-right: 10px;
    }

    .navbar-brand-title {
      font-family: Chewy, cursive;
      font-size: 2.25rem;
      margin: 0px;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $dark-blue !important;
      font-weight: 600;
      border-bottom: solid transparent;

      &:hover {
        color: $green !important;
        border-bottom: solid $green;
      }
    }
  }
}
